/* css */
body {
    margin:0px;
    padding:0px;
    background:url("../images/patino.png") center center fixed;
    background-size: cover;
    background-color:black;
}

#page{
    padding:40px;
}

#header {
    background-color:gray; /* sets the background color to gray */
    padding:0px;
    color:white;
}

h1{
    font-family:verdana;
    font-size:60pt;
    padding:20px 40px;
    margin:0px;
}

h2, h3 {
    font-family:arial;
}

.spotlight {
    background-color:pink;
    padding:20px;
}

/* navigation */
#nav, #nav a {
    background-color:#ccc; /* sets the background color to light gray */
    padding:10px;
}

#nav {
    padding-left:40px;
}

#nav a {
    margin:0px;
    padding-left:50;
    color:black;
    font-family:arial;
    text-decoration:none; /* this turns off the underline on the links */
    transition:color 2s, background-color 2s; /* this transitions the text and background colors */
}

#nav a:hover {
    background-color:#aaaaff;
    color:white;
    transition:color 2s;
}
/* end navigation */

#content {
    padding:20px 40px;
    background-color:#eee; /*sets the background color to lighter gray */
    margin:0px;
}

#footer {
    background-color:black;
    color:white;
    margin:0px;
    padding:20px 40px;
}

#footer a{
    text-decoration:none;
    color:white;
}
