/* css */
body {
    margin:0px;
    padding:0px;
}

#header {
    background-color:gray; /* sets the background color to gray */
    padding:0px;
    color:white;
}

#header h1{
    padding:20px;
    margin:0px;
}

/* navigation */
#nav, #nav a {
    background-color:#ccc; /* sets the background color to ligh gray */
    padding:10px;
}

#nav a {
    margin:0px;
    padding-left:50;
    color:black;
    font-family:arial;
    text-decoration:none; /* this turns off the underline on the links */
    transition:color 2s, background-color 2s; /* this transitions the text and background colors */
}

#nav a:hover {
    background-color:#aaaaff;
    color:white;
    transition:color 2s;
}
/* end navigation */

#content {
    padding:20px;
    background-color:#eee; /*sets the background color to lighter gray */
    margin:0px;
}

#content h2, #content h3 {
    font-family:Arial;
}

#footer {
    background-color:black;
    color:white;
    margin:0px;
    padding:20px;
}

/* OLD CSS *//*
#header{
    background-color:gray;
    width:400px;
    padding:20px;
    color:white;
}

#header:hover{
    background-color:pink;
    width:200px;
    color:black;
    transition: width 2s, background-color 2s, color 2s;
}

#header h2{
    background-color:#6666ff;
    padding:9px;
    font-size:16px;
}

#header h2:hover{
    background-color:#6666ff;
    padding:9px;
    font-size:30px;
    transition: font-size 2s;
}
*/