body{
    margin:0px;
    padding:0px;
}
h1,h2,h3,h4 {
    margin:0px;
    padding:0px;
}
#footer{
    width:860px;
    margin:0 auto;
}
#socialmedia{
    width:300px;
    height:100px;
    background-color:pink;
    padding:20px;
    border-radius:10px 0px;
}
#socialmedia img{
    width:36px;
}
#socialmedia h2{
    font-family:arial;
    font-size:24pt;
}
#socialmedia ul{
    list-style-type:none;
    padding:0px;
}
#socialmedia li{
    display:inline;
}

#altnav{
    width:300px;
    height:100px;
    background-color:green;
    padding:20px;
    border-radius:10px 0px;
    margin:0 20px;
}
.inline{
    float:left;
}
.clearfloat{
    clear:both;
    float:none;
}