/*css*/

p {
    color:red; /* all "p" tags */
}

div p{
    color:green; /* all "p" tags inside of a div tag */
}

#content p{
    color:gray; /* all "p" tags inside the tag with the id of "content" */
}


body{
    padding:20px;
}
fieldset{
    margin:10px;
}